.c-spinner {
  position: absolute;
  right: 60px;
  top: 20px;
  z-index: 999;
}

  .spinner-box {
    position: relative;
    width: 40px;
    height: 40px;
    margin: 0 auto;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: blue;
    animation: rotation $animation-time-4 infinite $ease-in-out-sine;
  }
